body > header {
  display: flex;
  height: 350px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #00cf94;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  margin-top: 90px;
  padding: 1.5em;
  /* TODO: pick transparent image/color & save image into images folder*/
}
body > header > img {
  width: 210px;
  height: 210px;
}