body > div > header {
  display: flex;
  height: 440px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #00cf94;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  padding: 1.5em;
  padding-top: calc(90px + 1.5em);
}
body > div > header > img {
  width: 210px;
  height: 210px;
}
@media only screen and (min-width: 1024px) {
  body > div > header {
    padding-top: 1.5em;
    width: 35%;
    margin: 1em;
    align-self: center;
  }
}