/* fixed nav bar */
nav {
  display:flex;
  height: 90px;
  width: 100vw;
  /* background: linear-gradient(#8c99c6, #4056A1 ); */
  background-color: #00cf94;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  color: #FFFFFF;
  padding: 1.5em;
  justify-content: space-between;
  position: fixed; 
  top: 0; 
 }
/* Sizing & font for nav logo */
nav .logo {
  font-family: 'Bungee', cursive;
  font-size: xx-large;
}
/* changed pointer for the tweet-link */
nav .tweet-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
/* colour change & animation of tweet link arrows while on hover */
nav .tweet-link:hover > i {
  color: red;
  transform: translateY(5px);
  transition: all .5s;
}
