.new-tweet form {
  display: flex;
  margin: 1.5em auto 1.5em;
  width: 95%;
  flex-direction: column;
}
.new-tweet .form-controls {
  display: flex;
  font-family: 'Bungee', cursive;
  justify-content: space-between;
}
.new-tweet button[type="submit"] {
  background-color:#4056A1;
  border-color: #4056A1;
  border-style: solid;
  color: #FFFFFF;
}
#tweet-text {
  background-color: inherit;
  margin-bottom: .5em;
  outline: none;
  resize: none;
  border: none;
  border-bottom: #545149 4px solid;
}
.counter.error {
  color: red;
}
.error-message {
  margin-bottom: 1em;
  border: red 3px solid;
  color: red;
  padding: .5em;
  display: none;  
}
.error-message::before, .error-message::after {
  content: "⚠";
  margin-left: .5em;
  margin-right: .5em;
}